body{
    background-color: #eae6f5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav {
    background-color: #e0d4ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    
}

a {
    text-decoration: none;
    color: #4b208c;
}

.dropdown{
    display: none;
}

.left>a {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}

.nav-items {
    display: flex;

}

.nav-items li {
    list-style: none;
    margin: 0px 20px;
    margin-top: 15px;
    font-weight: 600;
}


#newtask{
    background-color: #e0d4ff;
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 50%;
    padding: 1px 0px 45px 0px;
    margin: 5% auto 0% auto;
}

#firstimg{
    float: left;
    padding: 10px;
}

#secondimg{
    float: right;
    padding: 10px;
}

input{
    background-color: #C2DEDC;
    border: 1px solid #4b208c;
    border-radius: 10px;
    height: 25px;
    width: 50%;
    font-family:'Acme', sans-serif;
    padding: 10px;
}

input:focus{
    outline: none;
    background-color: white;
    border-color: #E8A0BF;
}

#push{
    background-color: #4b208c;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-family: 'Acme', sans-serif;
    height: 25px;
    width: 50px;
}

.heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #19003e;
    padding: 20px 0px;
}

#input{
    display: flex;
    gap: 10px;
    justify-content: center;
}

#tasks{
    background-color: #e0d4ff;
    border: 2px solid #4b208c;
    width: 70%;
    margin: 5% auto 20% auto;

}

.removeButton{
   outline: none;
   float: right;
   background: none;
   border: none;
   cursor: pointer;
}

#checkbox{
    width: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

#taskText{
    display: block;
    margin: 0;
    flex: 1;
    font-family: 'Acme', sans-serif;
}

.taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
.taskItem:hover {
    background-color: #e8e2f8;
}

input[id=checkbox]:checked~p.strikethrough {
    text-decoration: line-through;
    color: black;
  }

  .myinfo-container {
    background-color: #6f4aa6;
    padding: 50px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 22px;
}

.myinfo label {
    color: #e0d4ff;
}

.locationframe {
    width: 650px;
    height: 220px;
}

footer{
    text-align: center;
}

@media(max-width:850px){

    *{
        padding: 0;
        margin: 0;
    }
    nav {
        background-color: #e0d4ff;
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }

    .logo-name{ 
        font-size: 18px;
    }

    .dropdown{
        display: inline;
        margin-top: 20px;
    }

    .menu-main{
        display: none;
    }

    #newtask{
        width: 350px;
        padding-bottom: 20px;
        margin: 10% auto 5% auto;
    }
    
    input{
        height: 15px;
        font-size: 10px;
        font-family: 'Acme', sans-serif;
    }
    
    #push{
        height: 18px;
        border: 1px solid #8B7E74;
        font-size: 10px;
        font-family: 'Acme', sans-serif;
    }      
    
    .heading{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        padding: 10px 20px;
    }

    #firstimg{
       display: none; 
    }
    
    #secondimg{
        display: none;
    }

    #tasks{
        width: 350px;
        margin-bottom: 100%;
    }

    #taskText{
        font-size: 12px;
        font-family: 'Acme', sans-serif;
    }
    
    .taskItem{
        padding: 0;
        padding-left: 10px;
    }

    .myinfo-container{
        display: flex;
        flex-direction: column;
    }

    label{
        font-size: 15px;
    }

    .locationframe {
        display: none;
    }

    footer{
        font-size: 10px
    }
}
